body{
  width:300px;
  background-color:#222222;
}
li{
  list-style:none;
  margin-bottom:60px;
  border:solid 4px #222222;
}
.score{
  color:gray;
  font-size:20px;
  text-align:center;

}
.date{
  text-align:left;
  text-decoration:underline;
  font-size:30px;
  color:#555555;
}
.away{
  position:absolute;
  right:5px;
}
.home{
  position:absolute;
  left:20px;
}
