body{
  width:300px;
  background-color:gray;
}
li{
  list-style:none;
  line-height:50px;
}
.date{
  text-align:center;
  text-decoration:underline;
}
.home{
  position:absolute;
  right:10px;
}
.away{
  position:absolute;
  left:10px;
}
.score{
  font-size:30px;
  text-align:center;
}
.time{
  font-size:15px;
  text-align:center;
}
